.portfolio {
  width: 80%;
}
.category-container {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin: 10px;
}
.category-container h2 {
  color: rgb(118, 113, 156);
}
.category-container p {
  color: gray;
}
.category-container ul li {
  color: gray;
}

.project-card{
  display: flex; /* Display children elements in a row */
  align-items: flex-start; /* Align items vertically to the top */
}
.image-container {
  flex: 0 0 30%; /* Define the width of the image container */
  margin-left: 10px; /* Add margin between the image and content */
}
.content-container {
  flex: 1; /* Allow content to expand to fill available space */
  /* Add padding or other styles as needed */
}
.category-container {
  overflow-x: auto;
}
.project-card h4 {
  display: inline;
}


.carousel .slide img {
  width: 250px;
  height: 200px;
  margin-left: 50px;
}

.carousel .slide {
  text-align: left;
  background-color: #faf9f8;
}

.carousel .control-dots .dot {
    box-shadow: 4px -1px 4px 2px rgba(0,0,0,0.9);
    background:#46a1c5;
    border-radius: 50%;
    width: 12px;
    height: 8px;
    cursor: pointer;
    display: inline-flex;
    margin: 0 8px;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    transition: opacity .25s ease-in;
    opacity: 0.3;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}